/*
This file is part of tippspiel24.

tippspiel24 is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tippspiel24 is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with tippspiel24.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Fjalla One',sans-serif;
	vertical-align: baseline;
   
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

footer {
   display: block;
   text-align: center;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
.wm-form h1,
.wm-form span,
.wm-form input,
.wm-form label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.wm-form {
	clear: both;
    position: relative;
	margin: 2em auto;
    padding: 1em;
    cursor: default;
	opacity: 0.9;
	max-width: 300px;
	width: 66%;
	text-align: center;
    background-color: #141517;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}

.wm-form:before {
    position: absolute;
    top: -12px;
    left: 10px;
 
    width: 0px;
    height: 0px;
    content: '';
 
    border-bottom: 10px solid #141517;
    border-right: 10px solid #141517;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
}

.wm-form h1 {
    line-height: 32px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #e4e4e4;
	text-align: left;
}

.wm-form input[type=text],
.wm-form input[type=password],
.wm-form input[type=email],
.wm-form select,
.wm-form input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;
 
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
 
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.wm-form input[type=text],
.wm-form input[type=email],
.wm-form input[type=password],
.wm-form select,
.js .wm-form span {
    color: #686868;
    width: 85%;
 
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
 
    background: #989898;
    background: -moz-linear-gradient(  #ffffff 0%, #989898 100%);
    background: -webkit-linear-gradient(  #ffffff 0%,#989898 100%);
    background: -o-linear-gradient(  #ffffff 0%,#989898 100%);
    background: -ms-linear-gradient(  #ffffff 0%,#989898 100%);
    background: linear-gradient(  #ffffff 0%,#989898 100%);
}

.wm-form input[type=text]:hover,
.wm-form select:hover,
.wm-form input[type=email]:hover,
.wm-form input[type=password]:hover {
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}

.wm-form input[type=text]:focus,
.wm-form select:focus,
.wm-form input[type=email]:focus,
.wm-form input[type=password]:focus {
    background: #e1e1e1;
    background: -moz-linear-gradient(  #ffffff 0%, #e1e1e1 100%);
    background: -webkit-linear-gradient(  #ffffff 0%,#e1e1e1 100%);
    background: -o-linear-gradient(  #ffffff 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(  #ffffff 0%,#e1e1e1 100%);
    background: linear-gradient(  #ffffff 0%,#e1e1e1 100%);
}


.wm-form input[type=submit] {
    float: right;
    cursor: pointer;
    color: black;
    width: 40%;
    margin-right: 3%;
 
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}
 
.wm-form input[type=submit]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wm-form input[type=submit],
.js .wm-form span.checked:before {
    background: gold;
    background: -moz-linear-gradient( gold 0%, orange 70%);
    background: -webkit-linear-gradient(  gold 0%,orange 70%);
    background: -o-linear-gradient(  gold 0%,orange 70%);
    background: -ms-linear-gradient(  gold 0%,orange 70%);
    background: linear-gradient(  gold 0%,orange 70%);
}

.wm-form input[type=submit]:hover {
    background: yellow;
    background: -moz-linear-gradient(  gold 0%, yellow 100%);
    background: -webkit-linear-gradient(  gold 0%,yellow 100%);
    background: -o-linear-gradient( gold 0%,yellow 100%);
    background: -ms-linear-gradient( gold 0%,yellow 100%);
    background: linear-gradient(  gold 0%,yellow 100%);
}

.js .wm-form input[type=checkbox] {
    position: fixed;
    left: -9999px;
}

.wm-form span {
    position: relative;
    margin-top: 15px;
    float: left;
}


.js .wm-form span {
	position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.js .wm-form span.checked:before {
    content: '';
    position: relative;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
}

.wm-form label {
    position: relative;
    top: 3px;
    left: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #e4e4e4;
}



html {
    height: 100%;
}

body{
	min-height: 100%;
   background: url(../img/bg.png) center;
}

header {
	background: url(../img/bghead.jpg);
	float: left;
	text-align: left;
	width: 100%;
	z-index: 100;
   position: fixed;
   top: 0px;
}

section.center {
   clear:both;
	margin: 2em auto;
	position: relative;
	width: 95%;
	text-align: center;
	padding-top: 4em;
}

a {
  color:white;
  text-decoration:none;
  font-family: 'Fjalla One', sans-serif;
}

a#register {
  color:white;
  text-decoration:none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.8em;
  text-align:center;
  display: block;
}


img#country
{
    width: 48px;
    display: block;
	margin: auto;
}


div#title {
	padding:10px; 
	text-align:left; 
	min-width:188px; 
	float:left;
	display: inline;
}

div h1{
	padding:	0;
	color:	#b5bdbe;
	font-size: 22px;
	font-family: 'Fjalla One', sans-serif;
}

div h2,
div span {
	padding:	0;
	margin: 2px;
	color:	gold;
	font-size: 18px;
	font-family: 'Fjalla One', sans-serif;
}

/* tipps: description*/
.info h2,
.info span {
	padding:	0;
	color:	lightgrey;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

div#navi
{
	float: right;
   padding: 10px;  
	width:auto; 
	opacity: 1.0;
	z-index: 100;
}

nav {
   padding: 10px;
	float: right;
	z-index: 200;
	opacity: 1.0;
	z-index: 100;
}

#menu-icon {

    display: hidden;
    width: 40px;
    height: 40px;
    background: #141517 url(../img/menu-icon.png) center;
    border-radius: 4px 4px 0 0;
	opacity: 1.0;
}

a:hover#menu-icon {

    background-color: gold;
    border-radius: 4px 4px 0 0;
	opacity: 1.0;
}

ul {
    list-style: none;
	opacity: 1.0;
	z-index: 100;
   display: block;
   width: 100%;

}

span#elem {
   cursor: pointer;
}
 
li#elem {
   float: left;
   padding: 10px;
   cursor: pointer;
}

li:hover#elem {
	background-color: #242527;
	border-radius: 4px 4px 0 0;
	display: block;
}

li:hover span {
  color: gold;
  opacity: 1.0;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    #menu-icon {
        display:inline-block;
    }
    
    nav ul, 
    nav:active ul { 
		opacity: 1.0;
        display: none;
        position: fixed;
        padding: 0px;
        border: 3px solid #444;
        right: 0px;
        top: 40px;
        width: 50%;
        
        background-color: #141517;
 
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
     
        -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
        -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
        box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    }

    nav li {
	    opacity: 1.0;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        font-family: 'Fjalla One', sans-serif;
        font-size: 16px;
        font-weight: normal;
    }
	
    
    nav:hover ul {
        display: block;
		opacity: 1.0;
    }
}

div.game {
	position: relative;
	display: inline-block;
	width: 90%;
	margin: 0.01em 0.01em 1em;
	max-width: 300px;
    
	background-color: rgba(20,20,20, .2);
	
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}	

div.game:hover {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
	background-color: rgba(20,20,20, .8);
}

div.result {
	position: relative;
	display: inline-block;
	width: 90%;
	margin: 0.01em 0.01em 1em;
	max-width: 300px;
    
	background-color: rgba(20,20,20, .2);
	
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}	

div.centercont {
	margin: auto 0;
   padding-top: 0.55em;
   padding-bottom: 0.55em;
}

div.goal {
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  text-shadow: 4px 4px 4px black;
  color: silver;
  min-width: 10%;
  max-width: 25%;
  padding: 5px;
  height:100%;
  vertical-align: middle;
}

div.naviResults {
  display: inline-block;
  font-size: 1.2em;
  color: silver;
  min-width: 10%;
  max-width: 25%;
  padding: 5px;
  height:100%;
  vertical-align: middle;
}

div.bet {
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  text-shadow: 4px 4px 4px black;
  color: rgba(200,200,200,0.9);
  min-width: 9%;
  max-width: 25%;
  padding: 5px;
  height:100%;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
  -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
  box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.game_pending {
   color:lightgreen;
}

.game_open {
   display:none;
}

.game_closed {
   color:red;
}

div.bet_team_plus {
  background-color: rgba(192,192,192, .5);
  margin-right: 0.2em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

div.fill_width {
   padding: 0;
   margin: 0;
   display:inline-block;
}

div.bet_team_minus {
  background-color: rgba(222,222,222, .5);
  margin-bottom: 1em;
  margin-top: 0.5em;
}

div.bet_submit {
  background-color: rgba(128,192,128, .5);
  margin-right: 0.2em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}


.flag img,
img.flag {
	display: inline-block;
	height: 22px;
	width: 38px;
}

div.desc {
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1em;
  min-width: 10%;
  max-width: 25%;
  padding: 5px;
  height:100%;
  vertical-align: middle;
}

div.game_open#clock {
padding-top: 15px;
}

div.flag {
  display: inline-block;
  min-width: 10%;
  max-width: 25%;
  padding: 5px;
  height:100%;
  vertical-align: middle;
}

table.table {
	background-color: #141517; 
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
        border-radius: 7px;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
        -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
        box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
		color:#b5bdbe;font-size: 18px; font-family: 'Fjalla One', serif; 
	display: inline-table;
}

#user_ranking thead > tr > td {
	padding: 7px;
}

#user_ranking tbody > tr > td {
	padding: 5px;
}

#user_ranking thead tr {
	background-color: #000000;
}

#user_ranking tbody tr {
	background-color: #242527;
}

#user_ranking tr:nth-child(even) {
    background-color: #36383B;
}

#user_ranking tr.ranking_gold {
	color: gold;
}

#user_ranking tr.ranking_silver {
	color: silver;
}

#user_ranking tr.ranking_bronze {
	color: #965A38;
}

#user_ranking tr.ranking_standard {
	color: grey;
}

.bonus  .game select {
	width: 90%;
}

.bonus  .game h2 {
	color: gold;
	display: inline-block;
}

.bonus .game {
	padding: 1em;
	color: #CCC;
}

.red {
	color: red !important;
}